.card {
  width: 93%;
  height: clamp(550px, calc(45vw + 12rem), calc(45vw + 13rem));
  max-height: 600px;
  perspective: 1000px;
  margin: 5px auto;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cardInner.flipped {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;

}

.cardFront {
  justify-content: space-between;
}


.cardImgContainer {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cardImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px black solid;
}
.cardBody {
  padding: 15px;
  flex: 1 0 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardTitle {
  font-size: 1.2rem;
  color: var(--dark-blue);
  font-weight: bold;
}

.cardDesc {
  color: #666;
  font-size: 0.9rem;
}

.btnFlip {
  background-color: var(--primary-blue);
  color: var(--white);
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.btnFlip:hover {
  background-color: var(--dark-blue);
}

/* Verso */
.cardBack {
  background-color: var(--dark-blue);
  color: var(--white);
  transform: rotateY(180deg);
  padding: 20px;
  justify-content: center;
  gap: 15px;
}


.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
}

.btnWhatsapp {
  background-color: #25D366;
  color: white;
}

.btnEmail {
  background-color: var(--white);
  color: var(--dark-blue);
}

.btnCall {
  background-color: #ff9900;
  color: white;
}

.btnCancel {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ccc;
  margin-top: 5px;
}

@media (min-width: 1200px) {
  .card {
    width: calc(100% / 4) - 2rem;
  }
}