.head {
  background-color: var(--white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: sticky;
  -webkit-backdrop-filter: saturate(120%) blur(10px);
  backdrop-filter: saturate(120%) blur(10px);
  top: 0;
  z-index: 100;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
}

.logo {
  mix-blend-mode: multiply;
  display: block;
  /* background-color: transparent; */
  filter: drop-shadow(-2px 2px 3px black);
  opacity: 0.85;

}
.logo img {
  width: 100%;
  border-radius: 15px;  
  mix-blend-mode: multiply;
  display: block;
  /* background-color: transparent; */
}


.menuDesktop {
  display: none;
  gap: 20px;
}

.menuDesktop a {
  color: var(--dark-blue);
  font-weight: 600;
}

.menuToggle {
  font-size: 1.5rem;
  color: var(--primary-blue);
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 150;
}

.mobileModal {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  max-width: 300px;
  height: 100%;
  background-color: var(--white);
  z-index: 200;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: right 0.3s ease;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
}

.mobileModal.active {
  right: 0;
}

.closeModal {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}

.navBtn {
  padding: 12px;
  background-color: var(--light-blue);
  color: var(--primary-blue);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
}

@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }

  .menuDesktop {
    display: flex;
  }
}