.hero {
  background: linear-gradient(135deg, var(--primary-blue), var(--dark-blue));
  color: var(--white);
  padding: 40px 20px;
  text-align: center;
  
}

.slider {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  overflow-x: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  opacity: 0.9;
}

/* Responsividade opcional para telas maiores */
@media (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}