.section {
  padding: 20px;
  text-align: center;
  background: var(--white);
}

.title {
  margin-bottom: 10px;
  color: var(--dark-blue);
}

.description {
  margin-bottom: 15px;
}

.mapFrame {
  width: 100%;
  height: 300px;
  border: 0;
  margin-top: 15px;
}