.categoriesContainer {
  background: var(--white);
  border-bottom: 1px solid #ddd;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 20px;
  gap: 1rem;
  justify-content: center;
  scrollbar-width: none;
}

.categories::-webkit-scrollbar {
  display: none;
}

.catBtn {
  width: 8rem;
  white-space: nowrap;
  padding: 10px 20px;
  border: 1px solid var(--primary-blue);
  border-radius: 20px;
  background: var(--white);
  color: var(--primary-blue);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  width: calc(100% / 2 - 1rem)
}

.catBtn.active,
.catBtn:hover {
  background: var(--primary-blue);
  color: var(--white);
}

/* Definindo a animação */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.catalogContainer {
  padding: 20px;
  display: grid;
  gap: 20px;
  margin: 0 auto;
  animation: fadeInUp 2.2s both;
}

@media (min-width: 768px) {
  .categories {
    justify-content: center;
  }

  .catalogContainer {
    width: calc(100% / 4 - 2vw);

  }

  .catBtn {
    width: calc(100% / 5 - 1vw);
  }
}