/* Container Principal */
.catalogSection {
  padding: 80px 0;
  background-color: var(--light-blue);
  /* Usa o fundo global da página */
  min-height: 80vh;
}

/* --- Cabeçalho do Catálogo --- */
.header {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  background: linear-gradient(to right, var(--dark-blue), var(--light-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.1rem;
  background: linear-gradient(to right, var(--dark-blue), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

/* --- Área de Filtros --- */
.categoriesContainer {
  padding: 30px 0 30px 0;
  position: relative;
  background: rgba(15, 18, 42, 0.75);
  margin-bottom: 2rem;

}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.catBtn {
  /* background: #3b82f6; */
  color: var(--text-color);
  padding: 12px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.10rem;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  backdrop-filter: blur(5px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.catBtn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.catBtn.active {
  background: linear-gradient(135deg, #3b82f6 0%, #2563eb 100%);
  border-color: transparent;
  color: #fff;
  box-shadow: 0 4px 15px rgba(59, 130, 246, 0.4);
  transform: scale(1.05);
}

/* --- Grid de Produtos --- */
.catalogContainer {
  display: grid;
  /* Grid responsivo inteligente */
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 40px;
  /* Animação de entrada */
  animation: fadeInUp 0.8s cubic-bezier(0.16, 1, 0.3, 1) both;
}

/* Estado Vazio */
.emptyState {
  grid-column: 1 / -1;
  text-align: center;
  padding: 60px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  border: 1px dashed rgba(255, 255, 255, 0.7);
  color: #94a3b8;
}

.emptyStateIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
  opacity: 0.5;
  display: block;
}

/* Animação */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsividade */
@media (max-width: 520px) {
    .catalogContainer {
      grid-template-columns: 1fr;
      /* Coluna única no mobile */
      padding: 0 10px;
  }

}
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .catBtn {
    flex: 1 1 1;
    width: 85%;
    text-align: center;
    font-size: 0.9rem;
  }
}
