.header {
    color: var(--light-blue);
    background: linear-gradient(135deg, var(--primary-blue), var(--dark-blue));    
    margin-top: 4vh;
    padding: .6rem 0;
    text-align: center;
}

.header h1, .header p {
    margin: 1rem 2rem;
}

.header p {
    font-size: 1.2rem;
}
.servicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 2rem 1rem;
    justify-items: center;
    width: calc(100% - 2rem);
}

.serviceCard {
    width: 100%;
    max-width: 1200px;
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.serviceLinks{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.serviceLinks a{
    text-decoration: none;
}

.btnRequest {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    transition: background-color var(--transition-speed);
}

.btnRequest:hover {
    background-color: var(--dark-blue);
}