.head {
    color: var(--light-blue);
    background: linear-gradient(135deg, var(--primary-blue), var(--dark-blue));
    margin-top: 4vh;
    padding: .6rem 0;
    text-align: center;
}

.head h1,
.head p {
    margin: 1rem 2rem;
}

.head p {
    font-size: 1.2rem;
}

/* --- ESTILO BASE (MOBILE FIRST) --- */
.servicesContainer {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
    /* Estado inicial simples para Celular: Invisível e um pouco para baixo */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s, transform 2.5s;
}

/* Quando entra na tela (Mobile e Desktop usam isso como base) */
.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Card Styles */
.serviceCard {
    background: var(--white, #fff);
    border-radius: 8px;
    padding: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    display: grid;
    grid-template-rows: .8fr 1fr .4fr;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.serviceLinks {
    margin-top: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto, minmax(120px, 1fr));
    align-items: center;
    
}

.serviceLinks a {
    text-decoration: none;
}

.btnRequest, .btnWhatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    transition: background-color var(--transition-speed);
}

.btnRequest:hover {
    background-color: var(--dark-blue);
}

.btnWhatsapp {
    background-color: #25D366;
     color: white;
}



